<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <base href="{{ Request.baseName }}">

    <title>{% trans "MOSS" %}</title>

    <!--[if lt IE 9]>
    <script type="text/javascript" src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script type="text/javascript" src="{% resource 'moss:autodoc:js:prism.js' %}"></script>

    <link rel="stylesheet" href="{% resource 'moss:autodoc:css:normalize.css' %}" type="text/css" media="screen"/>
    <link rel="stylesheet" href="{% resource 'moss:autodoc:css:autodoc.css' %}" type="text/css" media="screen"/>
</head>
<body>

<section>
    <header id="header">
        <h1>{% trans "MOSS" %}</h1>
    </header>

    <nav>
        <ul>
            {% for Chapter in Documentation %}
                <li>
                    <h2><a href="{{ Url() }}#{{ Chapter.id }}">{{ Chapter.name }}</a></h2>
                    {{ Chapter.content|raw }}

                    {% if Chapter.section %}
                        <ul>
                            {% for Section in Chapter.section %}
                                <li>
                                    <h3><a href="{{ Url() }}#{{ Section.id }}">{{ Section.name }}</a></h3>
                                    {{ Section.content|raw }}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>

        <h2>{% trans "API: Packages" %}</h2>
        <ul>
            {% for Package in Packages %}
                <li>
                    <a href="{{ Url() }}#{{ Package.id }}">{{ Package.name }}</a>
                    <ul>
                        {% for Class in Package.classes %}
                            <li {% if not Class.desc %}class="nodesc"{% endif %}>
                                <a href="{{ Url() }}#{{ Class.id }}">{{ Class.name }}</a> -
                                <span>{{ Class.desc }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>

        <h2>{% trans "API: Classes and methods" %}</h2>
        <ul>
            {% for Class in Comments %}
                <li>
                    <a href="{{ Url() }}#{{ Class.id }}">{{ Class.name }}</a> - <span>{{ Class.desc }}</span>
                    <ul>
                        {% for Method in Class.methods if Method.isUserDefined %}
                            <li {% if not Method.desc and Method.isUserDefined %}class="nodesc"{% endif %}>
                                <a href="{{ Url() }}#{{ Method.id }}">{{ Method.name }}</a> -
                                <span>{{ Method.desc }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>

        <a class="up" href="{{ Url() }}#header">{% trans "Up" %}</a>
    </nav>

    <ul>
        {% for Class in Comments %}
            <li id="{{ Class.id }}">
                <h3>
                    <code>{% if Class.interface %}interface{% elseif Class.abstract %}abstract{% endif %} {{ Class.name }} {% if Class.parent %} extends {{ Class.parent }}{% endif %} {% if Class.interfaces %} implements {% for Interface in Class.interfaces %} {{ Interface }} {% if not loop.last %},{% endif %} {% endfor %}{% endif %}</code>
                </h3>

                <ul>
                    <li>{{ Class.desc }}</li>
                    <li class="package"><em>Package:</em> {{ Class.package }}</li>
                    <li class="author"><em>Author:</em> {{ Class.author }}</li>
                </ul>

                <ul>
                    {% for Method in Class.methods if Method.isUserDefined %}
                        <li id="{{ Method.id }}">
                            <h4 class="token-name">
                                <code>{% if Method.isAbstract %}abstract{% endif %} {% if Method.isStatic %}static{% endif %} {% if Method.isPublic %}public{% elseif Method.isProtected %}protected{% else %}private{% endif %} {{ Class.name }}
                                    :: {{ Method.name }}
                                    ( {% for Attr in Method.arguments %}{% if not Attr.required %}[{% endif %} {% for type in Attr.type %} {{ type }} {% if not loop.last %} | {% endif %} {% endfor %} ${{ Attr.name }} {% if not Attr.required %} = {% if Attr.default %}{{ Attr.default }}{% else %}null{% endif %}{% endif %} {% if not Attr.required %}]{% endif %} {% if not loop.last %} , {% endif %}{% endfor %}
                                    )</code>
                            </h4>

                            <ul>
                                <p>{{ Method.desc }}</p>

                                <ul>
                                    {% for Attr in Method.arguments %}
                                        <dd>
                                            <code>{% for type in Attr.type %}{{ type }} {% if not loop.last %}|{% endif %}{% endfor %}
                                                ${{ Attr.name }}</code>
                                            {{ Attr.desc }}
                                        </dd>
                                    {% endfor %}
                                </ul>
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</section>

<script type="text/javascript">
    (function() {
        var i, l, n;

        n = document.querySelectorAll('pre, code');
        for(i = 0, l = n.length; i < l; ++i) {
            n[i].setAttribute('class', 'language-php');
        }

        document.addEventListener('click', function(evt) {
            var t = evt.target, e;
            if(!t.classList.contains('package')) {
                return;
            }

            console.log(t.innerHTML.replace(/(<([^>]+)>)/ig, "").toLowerCase());
            e = '#' + t.innerHTML.replace(/(<([^>]+)>)/ig, "").toLowerCase().replace(/[^\w \-\.]+/igm, '-');
            if(!document.querySelector(e)) {
                return;
            }

            history.pushState(null, null, location.href.toString().replace(/(#.*)/, '') + e);
            window.location = window.location.href;
        });
    })();
</script>


</body>
</html>